<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="false"
  internalLogLevel="Error"
  internalLogToConsole="true"
  internalLogFile="../log/nlog.log"
>
  <extensions>
    <add assembly="Bliptech.Blipboard.NLog"/>
  </extensions>
  
  <targets async="true">
    <target
      xsi:type="BlipboardNetwork"
      name="Blipboard"
      collapse="numbers,brackets,single-quotes,secrets"
      address="https://westeurope-a.blipboard.io/56fc038f-814b-471c-ae18-190c3e3aa205"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="Blipboard" />
  </rules>
</nlog>
