<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="false"
  internalLogLevel="Error"
  internalLogToConsole="true"
  internalLogFile="../log/nlog.log"
>
  <extensions>
    <add assembly="Bliptech.Blipboard.NLog"/>
  </extensions>
  
  <targets async="true">
    <target
      name="SimpleBlipboard"
      xsi:type="BlipboardNetwork"
      collapse="numbers,brackets,single-quotes,secrets"
      address="https://westeurope-a.blipboard.io/56fc038f-814b-471c-ae18-190c3e3aa205"
    />
    
    <target
      name="ModifiedBlipboard"
      xsi:type="BlipboardNetwork"
      label="some-prefix:${logger}"
      details="${exception:format=tostring:maxInnerExceptionLevel=2:truncate=2000}"
      address="https://westeurope-a.blipboard.io/56fc038f-814b-471c-ae18-190c3e3aa205"
    />
  </targets>

  <rules>
    <logger name="Modified" minlevel="Info" writeTo="ModifiedBlipboard" final="true" />
    
    <logger name="*" minlevel="Info" writeTo="SimpleBlipboard" />
  </rules>
</nlog>
